 <div class="mt-4">
    <h3>Thêm Size</h3>
    <form method="POST" action="/products/size"   >
        <div class="mb-3">
            <label for="name" class="form-label">Size</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Thêm Size</button>
    </form>
 </div>