 <div class="mt-4">
    <h3>Thêm Màu sản phẩm </h3>
    <form method="POST" action="/products/color"   >
        <div class="mb-3">
            <label for="name" class="form-label">Màu sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Màu sản phẩm</button>
    </form>
 </div>