 <div class="mt-4">
    <h3>Thêm loại sản phẩm</h3>
    <form method="POST" action="/products/categori"   >
        <div class="mb-3">
            <label for="name" class="form-label">Loại sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Thêm loại sản phẩm</button>
    </form>
 </div>